@model Doc

<div class="row">
    <div class="col-md-3">
        <partial name="_menu" model="Model" />

    </div>
    <div class="col-md-9">

        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <a>
                        <img src="@Model.ImageURL" alt="Edit" width="180">
                    </a>
                </div>
                <div class="col-md-7">
                    <h5 class="card-title">
                        <a asp-action="DocDetail" asp-route-id="@Model.Id"> @Model.Name</a>
                    </h5>
                    <p class="card-text">
                        @Model.ShortDescription

                    </p>
                    <p class="card-text">
                        @*<small class="text-muted">@Model.Id</small>*@
                    </p>
                </div>
            </div>
        </div>
        <p>
            <div class="row">
                <a> @Model.Description</a>
            </div>
        </p>
            <p>
                @if (@Model.FileURL != null)
                {
                    <a href="@Model.FileURL">
                        <img src="~/img/File.png" alt="Edit">
                    </a>
                }
            </p>


        </div>
    </div>